:root {
  --clr-main-bg: #1D222A;
  --clr-main: #00ADB5;
  --clr-secondary: #222831;
  --clr-light: #EEEEEE;
  --clr-gray: #1B1B1B;
}

//? Layout
$layoutPadding: 20px;

//? Layout Breakpoints
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;