.app-header-container {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;

  .nav-btns {
    .nav-link:not(:last-child) {
      margin-inline-end: 10px;
    }
  }
}