.scroll {
  img {
    position: relative;
    transition: opacity 1s cubic-bezier(0, .01, .02, .2), translate .5s ease-out;
  }


  &.visible {
    @for $i from 1 through 3 {
      img:nth-child(#{$i}) {
        transition-delay: calc(0.4s * ($i - 1));
      }
    }
  }

  &.invisible {
    img {
      translate: 0 -30px;
      opacity: 0;
    }
  }
}