.specialties-container {
  background-image: url(../../assets//img/specialties-bg.png);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: center left;
}

.specialties {
  padding-block-start: 90px;
  padding-block-end: 120px;

  .main-title {
    @include section-title;
    margin-bottom: 80px;
  }

  .specialties-list {
    // gap: 20px;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 60px;

    .specialty {
      text-align: center;
      position: relative;
      aspect-ratio: 1;
      width: 250px;
      border-radius: 2em;
      background-color: var(--clr-secondary);

      .icon {
        font-size: 80px;

        svg * {
          fill: var(--clr-main);
        }
      }

      .title {
        margin-bottom: 10px;
      }

      .description {
        width: 80%;
        color: var(--clr-txt-secondary);
        font-family: Roboto-Light;
      }
    }
  }

  .skill-list {
    gap: 10px;

    &.invisible {
      .score {
        width: 0px !important;
      }
    }

    .skill {
      justify-content: space-between;
      gap: 30px;
      position: relative;

      .score-container {
        height: 6px;
        width: 200px;
        background-color: var(--clr-txt-secondary);
        border-radius: 2em;
      }

      .score {
        background-color: var(--clr-main);
        height: 100%;
        border-radius: 2em;
      }
    }
  }
}


//? Animation
.specialties-list {
  .specialty {
    transition: opacity .8s ease-out, translate .5s ease-out;

    .title {
      transition: opacity .5s ease-out, translate .5s ease-out;
    }

    .description {
      transition: opacity .6s ease-out, translate .5s ease-out;
    }
  }

  &.visible {
    @for $i from 1 through 3 {
      .specialty:nth-child(#{$i}) {
        // transition-delay: calc(0.4s + ($i - 1) * .6s);
        transition-delay: calc(0.2s + ($i - 1) * .6s);

        .title {
          // transition-delay: calc(0.6s + ($i - 1) * .6s);
          transition-delay: calc(0.4s + ($i - 1) * .6s);
        }

        .description {
          // transition-delay: calc(1s + ($i - 1) * .6s);
          transition-delay: calc(.6s + ($i - 1) * .6s);
        }
      }
    }

    @include float-animation;
    @include loading-bar-animation;
  }

  &.invisible {
    .specialty {
      transition: opacity .3s ease-out, translate .5s ease-out;
      opacity: 0;
    }

    .title {
      translate: -20px 0;
      opacity: 0;
    }

    .description {
      // translate: -20px 0;
      translate: 0 10px;
      opacity: 0;
    }
  }
}

.skill-list {
  &.invisible {
    .score {
      width: 0px !important;
    }
  }

  .skill {

    .score-container {
      border-radius: 2em;
    }

    .score {
      transition: width 2s ease-out;
    }
  }
}
